PORT=
HOST=
SWAGGER_HOST=
DB_HOST=
DB_PORT=
DB_USER=
DB_PWD=
DB_NAME=
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PWD=
SMTP_DOMAIN=
TRUSTED_ORIGINS=
REDIS_ADDR=
PROJECT_ID= // EMAIL MICRO SERVICE > REGISTERED PROJECT ID